/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

@media (prefers-color-scheme: light) {
  :root {
    --bg-image: url(../images/cover-image-light.png);
    --bg-color: #fff1f7;
    --bg-color-secondary: #ff8dcb;
    --title-color: #ffc2e6;
    --text-color: #353430;
    --accent-color: #ff8dcb;
    --text-color-secondary: #353430;
    --text-color-topic: #353430;
    --button-hover: rgba(50, 49, 45, 0.40);
    --border-color: #353430;
  }
}

:root .theme_light{
  --bg-image: url(../images/cover-image-light.png);
  --bg-color: #fff1f7;
  --bg-color-secondary: #ff8dcb;
  --title-color: #ffc2e6;
  --text-color: #353430;
  --accent-color: #ff8dcb;
  --text-color-secondary: #353430;
  --text-color-topic: #353430;
  --button-hover: rgba(50, 49, 45, 0.40);
  --border-color: #353430;
}

.page.theme_light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  background-image: var(--bg-image);
  background-color: var(--bg-color, #fff1f7);
}

.theme_light.decorated-zone::after {
  border-block-start: 1px solid var(--border-color);
  border-inline-end: 1px solid var(--border-color);
}

.theme_light .decoration__item {
  visibility: hidden;
}

.theme_light.decorated-zone::before {
  border-block-end: 1px solid var(--border-color);
  border-inline-start: 1px solid var(--border-color);
}

.theme_light.decoration__item::before {
  background-color: var(--accent-color);
  box-shadow: 0 0 10px 3px var(--accent-color);
}

.theme_light.header__theme-menu-button {
  color: var(--accent-color);
}

.theme_light.header__theme-menu-button:hover {
  border: 1px solid rgba(50, 49, 45, 0.40);
}

.theme_light.header__theme-menu-button:focus-visible {
  outline: none;
}

.theme_light.header__theme-menu-button:focus {
  border-bottom: 1px solid var(--border-color);
  margin-bottom: -1px;
}

.theme_light.header__theme-menu-button_active {
  border: 1px solid var(--border-color);
}

.theme_light.text-shadow {
  text-shadow: 2px 2px 0px var(--accent-color);
}

.theme_light.title-decor {
  background-color: var(--bg-color-secondary);
  color: var(--text-color-topic);
}

.theme_light.content__section {
  padding-inline: 10px;
  background-color: var(--bg-color);
}

.theme_light.content__topic {
  color: var(--text-color-secondary);
}

.theme_light.content__text-link:focus-visible {
  outline: none;
} 

.theme_light.content__text-link:focus {
  outline: 1px solid var(--text-color);
}

.theme_light.footer__title {
  color: var(--title-color);
}